<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/syntax.css">
  <link rel="preconnect" href="https://cdnjs.cloudflare.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <meta name="title" content="Zoom Church LK - For where two or three are gathered together in my name, there am I in the midst of them. Matthew 20:18">
  <meta name="description" content="An online platform which provides information and access to Sunday Services, conducted virtually by Methodist Church and Reformed Churches across the island.">

    <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://hanancs.github.io/ZoomChurchLK/">
  <meta property="og:title" content="Zoom Church LK - For where two or three are gathered together in my name, there am I in the midst of them. Matthew 20:18">
  <meta property="og:description" content="An online platform which provides information and access to Sunday Services, conducted virtually by Methodist Church and Reformed Churches across the island.">
  <meta property="og:image" content="{{ site.url }}/assets/zoom.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://hanancs.github.io/ZoomChurchLK/">
  <meta property="twitter:title" content="Zoom Church LK - For where two or three are gathered together in my name, there am I in the midst of them. Matthew 20:18">
  <meta property="twitter:description" content="An online platform which provides information and access to Sunday Services, conducted virtually by Methodist Church and Reformed Churches across the island.">
  <meta property="twitter:image" content="{{ site.url }}/assets/zoom.png">

  <title>
      {% if page.tag or page.title %}
        {% if page.tag %}
          {{ page.tag | escape }}
        {% else %}
          {{ page.title | escape }}
        {% endif %}
        -
      {% endif %}
      {% if paginator and paginator.page and paginator.total_pages > 1 and paginator.page > 1 %}
        Page {{ paginator.page }} of {{ paginator.total_pages }} -
      {% endif %}
      {{ site.title | escape }}
      {% unless page.tag or page.title %}
        - {{ site.description | escape }}
      {% endunless %}
    </title>
  
  

  
    <link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}/favicon.png">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.url }}{{ site.baseurl }}/atom.xml">
    <link rel="alternate" type="application/json" title="{{ site.title }}" href="{{ site.url }}{{ site.baseurl }}/feed.json" />
    <link rel="sitemap" type="application/xml" title="sitemap" href="{{ site.url }}{{ site.baseurl }}/sitemap.xml" />
      
  {% if site.googlewebfonts %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?{{ site.googlewebfonts }}&display=swap" rel="stylesheet">
  {% endif %}

  <style>
    {% capture include_to_scssify %}
      {% include inline.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>

</head>
